@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Pixelify Sans', sans-serif;
    color:whitesmoke;
}

body {
    background-color: black;
}

button{
    padding: 8px 16px;
    font-size: 1.5em;
}
p{
    font-size: 1.5em;
}
input{
    font-size: 1.5em;
}
h1{
    font-size: 4em;
}
label{
    font-size: 1.5em;
}
select{
    font-size: 1.5em;
}
.green-button{
    
    background-color: rgba(6, 199, 6, 0.89);
    transition: background-color 0.5s;
}
.green-button:hover{
    background-color: rgba(6, 199, 6, 0.515);
}

.red-button{
    background-color: rgb(216, 4, 4);
    transition: background-color 0.5s;
}

.red-button:hover{
    background-color: rgba(216, 4, 4, 0.664);
}

input {
    color:black;
}

select {
    color:black;
    option{
        color:black;
    }
}