@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Pixelify Sans', sans-serif;
    color:whitesmoke;
    border-radius: 8px;
}

body {
    background-color: black;
    font-size: 100%;
}
p{
    font-size: 1.5em;
}
input{
    font-size: 1.5em;
}
h1{
    font-size: 4em;
}
label{
    font-size: 1.5em;
}
select{
    font-size: 1em;
}

input {
    color:black;
}

select {
    color:black;
    option{
        color:black;
    }
}