ol{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.chat-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(48, 48, 48);
    padding: 16px;
    border-radius: 8px;
    border: 2px white solid;
    height: inherit;
    width: inherit;
}
#chat-list{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    border-radius: 8px;
    border: 2px white solid;
    padding: 8px;
    overflow-y: auto;
    overflow-x: hidden;
}
.chat-entry{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 16px;
    margin:0;
    font-size: small;
    width: fit-content;
    margin-bottom: 16px;
}
#chat-sendbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 16px;
    width:100%;
    gap: 16px;
}
#chat-input{
    padding: 8px;
    border-radius: 8px;
    border: white 2px solid;
    background-color: rgb(48, 48, 48);
    color: whitesmoke;
    flex-grow: 2;
    width: 100%;
}
#sender{
    margin:0;
}
#message{
    padding: 8px;
    border-radius: 8px;
    border: white 2px solid;
    background-color: rgb(48, 48, 48);
    color: whitesmoke;
    margin-right: 16px;
    margin-left: 40px;
    width:fit-content;
    max-width: 70%;
    overflow-wrap: break-word;
    text-align: left;
}
