.createGameForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90vw;
    height: 100%;
    padding: 16px;
    margin: 0;
    background-color: rgb(48, 48, 48);
    border-radius: 8px;
    border: white 2px solid;
}

.cgform-entry{
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
    margin: 40px;
    align-items: center;
    justify-content: space-evenly;
    gap: 12px;

    input{
        padding-left: 8px;
        color: rgba(6, 199, 6, 0.89);
        background-color: rgb(48, 48, 48);
    }
    select{
        color: rgba(6, 199, 6, 0.89);
        background-color: rgb(48, 48, 48);
        option{
            color: rgba(6, 199, 6, 0.89);
        }
    }
}

.button-container {
  display:flex;
  gap: 8px;
}
