.gomodal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  gap: 16px;
}

.button-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

