.join-create-screen{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    align-content: center;
    ul{
        display: grid;
        width: 100%;
        align-items: start;
        align-content: start;
        max-height: 80vh;
        overflow-y: auto;
        li{
            max-width: 100vh;
            margin-top: 8px;
            p {
              align-content: center;
              padding-right: 200px;
            }
        }
    }
}

.buttons-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center; 
    gap: 16px;  
    width: 100%;
}
