.lobbyScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 20px;
}
.lobbyInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    width: 100%;
    padding-inline: 20px;
}
.lobbyPlayers {
    padding: 16px;
    border-radius: 8px;
    border: white 2px solid;
    background-color: rgb(48, 48, 48);
    height: clamp(60vh, 70vh, 600px);
    width: clamp(340px, 40vw, 600px); 
}
.chat-wrapper {
    height: clamp(400px, 70vh, 600px);
    width: clamp(340px, 40vw, 550px);
}
.buttons-container {
    display: flex;
    flex-wrap: wrap;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 8px;
    background-color: rgb(48, 48, 48);
    border: white 2px solid;
    transition: background-color 0.5s;
    overflow-x: hidden;
}
ul li p {
    padding-left: 10px;
    align-content: center;
}
#kick-button {
    padding: 3px;
    margin-left: 100px;
}
.list-item {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
#orange div {
    background-color: orange;
}

#green div {
    background-color: green;
}

#yellow div {
    background-color: yellow;
}

#blue div {
    background-color: rgb(0, 124, 196);
}
.color-show {
    min-height: 60px;
    min-width: 70px;
    border-radius: 8px;
    margin-right: 16px;
    margin-bottom: 8px;
    border: white 2px solid;
}
